*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: "Harlow";
    src: local("Harlow"), url("./Harlow.woff") format("woff");
    font-weight: bold;
    font-display: swap;
  }