.register__container
{
    width: 40%;
    background-color: var(--color-sec2);
    border-radius: 5px;
    margin: 5% auto;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 3px 3px var(--color-gray);
}
.register__container .title
{
    font-family: var(--font-alt);
    font-size: 1.4rem;
    /* line-height: 2.5rem; */
    font-weight: 600;
    position: relative;
}
.register__container .title::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, var(--color-sec1), var(--color-white));
}
.register__container .user__details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.register__container .input__box
{
    margin-bottom: 1rem;
    width: calc(100% /2 - 20px);
}
.register__container .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.register__container .user__details input
{
    height: 3rem;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--color-sec2);
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.register__container input:focus,
.register__container input:valid
{
    border-color: var(--color-sec1);
}
.register__container .button__wrapper
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register__container button
{
    height: 3rem;
    width: 6rem;
    outline: none;
    color: var(--color-white);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: var(--color-sec1);
}
.register__container button:hover
{
    background: var(--hover-color);
}
.register__container .gender__details .gender__title
{
    font-size: 20px;
    font-weight: 500;
}
.register__container .gender__details .category
{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender__details .category label
{
    display: flex;
    align-items: center;
}
.gender__details .category .dot
{
    height:  18px;
    width: 18px;
    background: var(--color-white);
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three
{
    border-color: var(--color-sec1);
    background: var(--color-sec2)
}
/* form input[type="radio"]
{
    display: none;
} */

@media (max-width: 584px)
{
    .register__container {
        max-width: 100%;
    }
    .register__container .input__box{
        margin-bottom: 1rem;
        width: 100%;
    }
    .register__container form .user__details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user__details::-webkit-scrollbar{
        width: 0;
    }
}
