.categoryy {
    width: 700px;
    height: 210px;
    margin-left: 5px;
}

.cancelButton {
    width: 30px;
    height: 20px;
    display: inline-block;
}
.orderDiv {
    width: 95%;
    margin-top: 3px;
    margin-left: 10px;
    }

.short {
    background: rgba(238, 171, 171, 0.63);
    }

.long {
    background: rgba(156, 204, 177, 0.644);
}
.long-sell {
    background: rgba(15, 243, 102, 0.774);
}
.short-sell {
    background: rgba(241, 81, 60, 0.774);
}
.position-flex {
    display: flex;
    flex-direction: row;
}
.poButton{
width: 40px;
height: 20px;
background: #b3b6b9;
margin: 0px 5px;
cursor: pointer;
padding: 0px;
justify-content: center;
font-weight: bold;
border-width: 1px;
border-radius: 2px;
border-style: outset;
border-color: #2d2b2b;
}

.poInput {
    width: 70px;
    height: 20px;
    margin: 0px 3px;
    }

    .poincButton{
        width: 22px;
        padding: 0px;
        justify-content: center;
        height: 20px;
        background: #b3b6b9;
        margin: 0px 3px;
        font-weight: bold;
        cursor: pointer;
        border-width: 1px;
        border-radius: 2px;
        border-style: outset;
        border-color: #2d2b2b;
    }
.poText{
    height: 20px;
    text-align: center;
}
