.chat-page {
width: 250px;
}
.chat-page h2 {
text-align: center;
}
.chat-page .chat-page-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 10px auto;
    margin-top: 20px;
    list-style: none;
  }


  
