@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Harlow+Solid+Italic:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  width: 100vw;
  height: 100vh;
  /* ===== fonts ===== */
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  --font-logo: 'Harlow Solid Italic';
  
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --color-prim1: #FCF7FF;
  --color-prim2: #FFFADE;
  --color-sec1: #160B75;
  --color-sec2: #edecf8;
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB; 
  --color-grey: #AAAAAA;
  --hover-color: rgb(48, 24, 151);
  --color-white: #FFFFFF;
   /* ====== Transition ====== */
   --tran-03: all 0.2s ease;
   --tran-03: all 0.3s ease;
   --tran-04: all 0.3s ease;
   --tran-05: all 0.3s ease;
}
body {
  position: relative;
  transition: var(--tran-05);
  background-color: var(--color-sec2);
  height: 100vh;
}
.dark__background
{
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  background-color: var(--color-sec1);
  height: 100vh;
}
::selection{
  background-color: var(--primary-color);
  color: #fff;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.flex--column {
  width: 100%;
  flex-direction: column;
}
/* @font-face {
  font-family: "Harlow";
  src: local("Harlow"), url("./font/Harlow.woff") format("woff");
  font-weight: bold;
  font-display: swap;
} */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}
button:disabled,
button[disabled]{
opacity: 0.5;
} 
#loader {
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid  var(--color-sec1);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
